{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<p>{{ welcome_message }}</p>
<p>You have visited the Polls page {{ visit_count }} times.</p>

{% if last_poll %}
    <p>Last poll viewed: {{ last_poll.question_text }}</p>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}